*.pro
*.o
*.exe

# main executable
Pathfinding_Visualizer

# makefile
Makefile

# init files specific to wsl2
init_display.sh

# clangd stuff
*.cache*
.clangd/
compile_commands.json

# moc stuff
moc*
